.container{
	width:960px;
	margin:0 auto;
}
#header{
	width:960px;
	height:253px;
	background:url(../images/header_bg.png) 0 0 no-repeat;
	background-size:cover;
	color:#555;
	font-size:80px;
	text-align:center;
	line-height:253px;
}
#mainNav{
	background:#555;
	text-align:right;
	padding-right:30px;
}
#mainNav li{
	display:inline-block;
	color:white;
	height:30px;
	line-height:30px;
	text-align:center;
	padding:10px;
}
#mainNav li:hover{
	text-decoration:underline;
	cursor:pointer;
}
.contents{
	background:#eee;
	padding:30px;
}
h1,h2{
	width:80%;
	margin:0 auto;
	font-size:30px;
	border-bottom:2px solid #333;
}
.contents p{
	width:75%;
	margin:0 auto;
	padding:10px 20px;
	border-radius:10px;
	background:white;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:1px 2px 3px 1px #888;
}
.contents img{
	display:block;
	width:600px;
	margin:20px auto;
}
.contents a{
	display:block;
	width:200px;
	height:50px;
	margin:0 auto;
	border:2px solid white;
	border-radius:10px;
	text-align:center;
	line-height:50px;
	font-size:30px;
	text-size:30px;
	text-decoration:none;
	background:#999;
	color:white;
}
.contents a:hover{
	opacity:0.8;
}
.footer{
	background:#555;
	color:white;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:14px;
}
